<div class="cover{{#if @site.cover_image}} image-loading{{/if}}">
    {{#if @site.cover_image}}
        <img class="cover-image u-object-fit" src="{{@site.cover_image}}" alt="{{@site.title}}">
    {{/if}}

    <div class="cover-content container">
        {{#if @site.description}}

<div class="cover-title"> {{@site.title}}</div>
<div class="cover-description"> {{@site.description}}</div>

        {{/if}}

        {{#unless @member}}
 
        {{/unless}}
 {{#if @site.logo}}
            <div class="blog-logo">
                <img src="{{@site.logo}}" alt="{{@site.title}}" />
           
            {{/if}}


  </div>
    </div>

    <button class="button-icon cover-arrow">
        {{> icons/chevron-right}}
    </button>
</div>